<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.wallpaper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bg1"
        android:roundIcon="@drawable/bg1"
        android:label="Hello World"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- النشاط الرئيسي -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- النشاط اللي بيخلي المستخدم يحدد الخلفية -->
        <activity
            android:name=".SetWallpaperActivity"
            android:exported="true" />

        <!-- خدمة الـ Live Wallpaper -->
        <service
            android:name=".MyWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

    </application>

</manifest>
